# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-$

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode$
*.xcscmblueprint
*.xccheckout
*.generated.swift

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode$
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
